.nav{
    list-style-type: none;
    padding: 0;
    padding-left: 10px;

    li{
        margin-top: 30px;
        a{
            text-decoration: none;
            color: black;
            
        }
    }
}