<div class="manga-reader-container">
    <div class="chapter-list">
        <a class="back-btn" routerLink=""><span class="arrow-icon">&#9664;</span>Go Back</a>
        <div class="chapter" *ngFor="let chapter of chapterlistArray">
          <div class="titlecontainer" (click)="showChapterPages(chapter[3], chapter[0])">
            <strong>{{chapter[0]}}</strong><em *ngIf="chapter[2]">: {{chapter[2]}}</em>
          </div>
        </div>
    </div>
    <div class="manga-pages">
        <figure class="page-image">
          <img class="page" (click)=gotoNextPage() [src]="currentPageUrl">
        </figure>
        <div class="controls">
            <button class="btn-left" [disabled]="!this.currentChapterPagesArray[this.pageNumber-1]" (click)=gotoPrevoiusPage()>&#9664;</button>
            <span class="page-details">Chapter: {{ chapterNumber }}/Page: {{currentChapterPagesArray[pageNumber][0]}}</span>
            <button class="btn-right" [disabled]="!this.currentChapterPagesArray[this.pageNumber+1]" (click)=gotoNextPage()>&#9654;</button>
        </div>
    </div>
</div>
  